# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.bak
*.tmp

# Django
*.log
*.pot
*.mo
local_settings.py

# Virtualenv
venv/
ENV/
env/

# IDE / Editors
.vscode/
.idea/

# Environment variables
.env

# Databases
*.db
*.sqlite3

# PostgreSQL dumps
*.sql
*.dump

# Data backups
data_backup.json

# Packaging / Build
*.egg-info/
dist/
build/
