{% extends 'base.html' %}
{% load static %}

{% block content %}

    
            <div class="container">
                <div class="favorites">

                    <div class="favorites__txt">

                        <h2 class="favorites__title">
                            Избранное
                        </h2>

                        <span class="favorites__title-count">{{ products|length }} предметов</span>
                        
                    </div>  
                    
                    
                </div>
                {% include 'components/_product_card.html' %}
            </div>


{% endblock %}