{% extends 'base.html' %}
{% load static %}

{% block content %}
                <div class="container">
                    <div class="registeration__content">
                        <form method="post" action="" class="registeration__form active">
                            {% csrf_token %}
                            <h2 class="registeration__title products__title">Регистрация</h2>
                            <div class="registeration__form-grid">

                                <div class="input__title">
                                    <h2>Имя</h2>
                                    <input type="text" name="first_name" class="contact__section-input" required>
                                </div>
                                <div class="input__title">
                                    <h2>Фамилия</h2>
                                    <input type="text" name="last_name" class="contact__section-input" required>
                                </div>
                                <div class="input__title">
                                    <h2>E-mail</h2>
                                    <input type="email" name="email" class="contact__section-input" required>
                                </div>

                                <div class="input__title">
                                    <h2>Номер телефона</h2>
                                    <input type="tel" name="phone" class="contact__section-input" required>
                                </div>

                                <div class="input__title">
                                    <h2>Придумайте пароль</h2>
                                    <input type="password" name="password" class="contact__section-input" required>
                                </div>
                                <div class="input__title">
                                    <h2>Подтвердить пароль</h2>
                                    <input type="password" name="confirm_password" class="contact__section-input" required>
                                </div>

                            </div>

                            <div class="registeration__btns">

                                <button type="submit" class="btn registeration__btn">Подтвердить</button>
                                <a href="#!" class="registeration__links">Уже есть аккаунт? </a>
                            </div>

                            <button type="button" class="btn registeration__btn-login _revers">Войти</button>

                        </form>

                        <form method="post" action="" class="registeration__form">
                            {% csrf_token %}
                            <h2 class="registeration__title products__title">Авторизация</h2>
                            
                            {% if form.non_field_errors %}
                                <div class="form-errors">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                                
                            <div class="registeration__form-grid">

                                <div class="input__title">
                                    <h2>E-mail</h2>
                                    <input type="email" name="email" class="contact__section-input" required>
                                </div>

                                <div class="input__title">
                                    <h2> Пароль</h2>
                                    <input type="password" name="password" class="contact__section-input" required>
                                </div>

                            </div>

                            <button type="submit" class="btn registeration__btn-login _auth">Войти</button>

                        </form>


                    </div>
                </div>
{% endblock %}
