{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="registeration__content">

        <!-- Форма регистрации -->
        <form method="post" action="" class="registeration__form active">
            {% csrf_token %}
            <h2 class="registeration__title products__title">Регистрация</h2>
            <div class="registeration__form-grid">

                <div class="input__title">
                    <h2>Имя</h2>
                    {{ form.first_name }}
                </div>
                <div class="input__title">
                    <h2>Фамилия</h2>
                    {{ form.last_name }}
                </div>
                <div class="input__title">
                    <h2>E-mail</h2>
                    {{ form.username }}
                </div>
                <div class="input__title">
                    <h2>Номер телефона</h2>
                    {{ form.phone }}
                </div>
                <div class="input__title">
                    <h2>Придумайте пароль</h2>
                    {{ form.password1 }}
                </div>
                <div class="input__title">
                    <h2>Подтвердить пароль</h2>
                    {{ form.password2 }}
                </div>

                {% if form.errors %}
                    <div class="form-errors red-alert">
                        {{ form.errors }}
                    </div>
                {% endif %}

            </div>

            <div class="registeration__btns">
                <button type="submit" class="btn registeration__btn">Подтвердить</button>
                <a href="{% url 'login' %}" class="login-links">Уже есть аккаунт?</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
